<div id="<%= dom_id boat %>">
  <p>
    <strong>Name:</strong>
    <%= boat.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= boat.size %>
  </p>

  <p>
    <strong>Captain:</strong>
    <%= boat.captain %>
  </p>

</div>
